<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Tabla Clientes</h3>
        </div>

        <div class="card-body">
          <table class="table table-bordered table-striped">   
                   <thead class="thead-dark">   
                       <tr>   
                         <th>Id</th> 
                         <th>Nombre cliente</th> 
                         <th>Nombre Owner</th>
                         <th>Opciones</th>
                       </tr>
                     </thead>                  
                     <tbody>
                        <tr *ngFor='let cliente of clientes'>
                            <td>{{ cliente.idClient }}</td>
                            <td>{{ cliente.clientName}}</td>
                            <td>{{ cliente.productOwner}}</td>
                            <button (click)="editar(cliente)" class="btn btn-warning" style="margin: 10px"> editar</button>
                              <button (click)="deleteClient(cliente)"class="btn btn-danger" style="margin: 10px"> Delete</button>
                               
                        </tr>     
                     </tbody>
                   </table>
                 </div>
     