<form>
    <div class="form-group">
      <label for="nombre_Cliente">Nombre Cliente</label>
      <input [(ngModel)]="clientName" name="nombre_Cliente" type="text" class="form-control" id="nombre_Cliente"  placeholder="Ingrese Nombre">
      <small id="nombre_Cliente" class="form-text text-muted"></small>
    </div>

    <div class="form-group">
      <label for="product_Owner">ProductOwner</label>
      <input [(ngModel)]="productOwner" name="product_Owner" type="text" class="form-control" id="product_Owner" placeholder="Ingrese ProductOwner">
    </div>
    



    
    <button (click)="enviar()" type="button"  class="btn btn-primary">Guardar</button>
  </form>

